:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.heading2-home {
  font-size: 48px;
  font-style: normal;
  font-family: Inria Sans;
  font-weight: 700;
}

.heading1-detail {
  font-size: 3.8rem;
  font-family: "Inria Sans";
  font-weight: 400;
}
.peragraph-detail {
  font-size: 1.35rem;
  font-family: "Inria Sans";
  text-transform: uppercase;
}
.heading2-details {
  font-size: 2rem;
  font-family: "Inria Sans";
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.heading3-details {
  font-size: 2.2rem;
  font-family: "Domine";
  font-weight: 400;
}
.container-centered {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1180px;
  align-items: flex-start;
  flex-direction: column;
}
.block-region {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.rich-text-orari {
  font-size: 0.9rem;
  font-family: "Inria Sans";
}
.location-detail-icon {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
.row-location {
  flex: 0 0 auto;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.container-centered-correct {
  margin: 0 auto;
  max-width: 1400px;
}
.location-title-box {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  padding: 4vw;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.location-icon-home {
  color: black;
  width: 50px;
  filter: invert(1);
  object-fit: cover;
}
.location-detail-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #CDC7D1;
}
.home-location-listing-link {
  font-size: 22px;
  text-decoration: none;
}
.home-location-listing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Content {
  font-size: 16px;
  font-family: "Inria Sans";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: "Inria Sans";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 767px) {
  .location-detail-icon {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .container-centered {
    width: 100%;
    flex-direction: row;
  }
  .block-region {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .location-detail-icon {
    width: var(--dl-size-size-large);
  }
  .row-location {
    height: 20vh;
    padding-left: 0px;
  }
  .location-title-box {
    width: 50%;
  }
  .location-detail-header {
    height: 100%;
    padding-top: 0px;
    flex-direction: row;
    padding-bottom: 0px;
  }
}
